header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 100%
  top: 0;
  left: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 100px); /* 6 boxes per row */
  grid-gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.2s;
}

.box:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
